<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Slides for "Why are Distributed Systems so hard?" from DevOpsDays LDN
    </h2>
  </div>
  <div class="row">
    <h3><a href="https://drive.google.com/file/d/15nxAaVXZwNFnJNVvgtKonNbzxNgTUCxP/view?usp=sharing">click for slides on Google Drive</a></h3>
    <h3>video is up!</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uTJvMRR40Ag" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="row">
    <h3>bibliography & references</h3>
    <ul>
      <li>Martin Kleppman, "Please stop calling databases CP or AP". <a href="https://martin.kleppmann.com/2015/05/11/please-stop-calling-databases-cp-or-ap.html">link</a></li>
      <li>Martin Kleppman, "Designing Data-Intensive Applications". <a href="https://dataintensive.net/">link</a></li>
      <li>Coda Hale, "You can't sacrifice partition tolerance". <a href="https://codahale.com/you-cant-sacrifice-partition-tolerance/">link</a></li>
      <li>Doug Terry, "Replicated data consistency explained through baseball". <a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2011/10/ConsistencyAndBaseballReport.pdf">link</a></li>
      <li>Henry Robinson, The Paper Trail, "The CAP FAQ". <a href="https://www.the-paper-trail.org/page/cap-faq/">link</a></li>
      <li>Kyle Kingsbury, "Consistency Models". <a href="http://jepsen.io/consistency">link</a></li>
      <li>Kyle Kingsbury, "Jepsen: Kafka". <a href="https://aphyr.com/posts/293-call-me-maybe-kafka">link</a></li>
      <li>Kyle Kingsbury, "The network is reliable". <a href="https://aphyr.com/posts/288-the-network-is-reliable">link</a></li>
      <li>Jeff Dean, "Designs, lessons and advice from building large distributed systems". <a href="http://www.cs.cornell.edu/projects/ladis2009/talks/dean-keynote-ladis2009.pdf">link</a></li>
      <li>Salome Simon, "Brewer's CAP Theorem". <a href="https://fenix.tecnico.ulisboa.pt/downloadFile/1126518382178117/10.e-CAP-3.pdf">link</a></li>
      <li>Jeff Hodges, "Notes on distributed systems for young bloods". <a href="https://www.somethingsimilar.com/2013/01/14/notes-on-distributed-systems-for-young-bloods/">link</a></li>
      <li>David Kravets, "It's Official: Sharks no longer a threat to subsea Internet cables". <a href="https://arstechnica.com/tech-policy/2015/07/its-official-sharks-no-longer-a-threat-to-subsea-internet-cables/">link</a></li>
      <li>Daniel Abadi, "Problems with CAP, and Yahoo's little known NoSQL system". <a href="http://dbmsmusings.blogspot.com/2010/04/problems-with-cap-and-yahoos-little.html">link</a></li>
      <li>Jay Kreps, "A few notes on Kafka and Jepsen". <a href="http://blog.empathybox.com/">link</a></li>
      <li>Eric Brewer, "Lessons from giant-scale services". <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.83.4274&rep=rep1&type=pdf">link</a></li>
      <li>Phillipa Gill, Navendu Jain, Nachiappan Nagappan, "Understanding network failures in data centers: Measurement, analysis, and implications". <a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2017/01/sigcomm11netwiser.pdf">link</a></li>
      <li>Paolo Viotti, Marko Vukolic, "Consistency in Non-transactional Distributed Storage Systems". <a href="https://arxiv.org/pdf/1512.00168.pdf">link</a></li>
      <li>Stephen Asbury, "Eight fallacies of distributed computing". <a href="https://www.youtube.com/watch?v=NiBka2FIfzQ">link</a></li>
      <li>Jacek Laskowski, "Kafka Controller Election". <a href="https://jaceklaskowski.gitbooks.io/apache-kafka/kafka-controller-election.html">link</a></li>
      <li>RabbitMQ Docs. <a href="https://rabbitmq.com">link</a></li>
    </ul>
  </div>
</main>
