<main class="wrapper">
  <div class="row intro">
    <h2 class="greeting">
      My Art
    </h2>
    <p>
      I draw stuff sometimes. You may freely redistribute and print any images here with attribution, under the terms of the
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA license</a>. If you want to
      remix or modify anything here, please <a href="mailto:me@deniseyu.io">ask me first</a>!
    </p>
  </div>

  <div class="row gallery">
    <h3>sketchnotes</h3>

    <div class="image-container">
      <a href="images/8-fallacies-color.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/8-fallacies.png');"></div>
        the 8 fallacies of distributed computing
      </a>

      <a href="images/12factors-color.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/12-factors.png');"></div>
        12 factor apps
      </a>

      <a href="images/eirini-color.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/eirini.png');"></div>
        project eirini
      </a>

      <a href="images/context-flow.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/context-flow.png')"></div>
        context flow, aka dwayne braindump
      </a>

      <a href="images/helm-color.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/helm.png');"></div>
        helm package manager for k8s
      </a>

      <a href="images/monolith-to-microservices.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/monoliths.png');"></div>
        how to chip apart your monolith
      </a>

      <a href="images/istio.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/istio.png');"></div>
        istio service mesh
      </a>

      <a href="images/kibosh-colored.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/kibosh.png');"></div>
        kibosh
      </a>

      <a href="images/uaa.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/uaa.png');"></div>
        uaa
      </a>

      <a href="images/automatic-failover.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/failover.png');"></div>
        automatic leader failover
      </a>

      <a href="images/container-networking.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/container-networking.png');"></div>
        container networking in cf
      </a>

      <a href="images/continuous-delivery.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/cd.png');"></div>
        continuous delivery
      </a>

      <a href="images/containers-vms.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/containers-vms.png');"></div>
        containers vs. vms
      </a>

      <a href="images/fscaps.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/fscaps.png');"></div>
        filesystem capabilities
      </a>

      <a href="images/opsmanager.png">
        <div class="image sketchnote" style="background-image: url('images/thumbnails/opsmanager.png');"></div>
        pivotal opsmanager
      </a>
    </div>
  </div>

  <div class="row gallery">
    <h3>gophers</h3>
    <div class="image-container">
      <a href="images/gopher-dave.png">
        <div class="image gopher" style="background-image: url('images/gopher-dave.png'); background-size: 225px;"></div>
          @gypsydave5
      </a>

      <a href="images/gopher-chris.png">
        <div class="image gopher" style="background-image: url('images/gopher-chris.png'); background-size: 250px;"></div>
          @quii and pepper
      </a>

      <a href="images/olaf.png">
        <div class="image gopher" style="background-image: url('images/olaf.png'); background-size: 250px;"></div>
        olaf
      </a>

      <a href="images/elsa.png">
        <div class="image gopher" style="background-image: url('images/elsa.png'); background-size: 300px;"></div>
        elsa
      </a>

      <a href="images/anna.png">
        <div class="image gopher" style="background-image: url('images/anna.png'); background-size: 200px;"></div>
        anna
      </a>

      <a href="images/harley.png">
        <div class="image gopher" style="background-image: url('images/harley.png'); background-size: 250px;"></div>
        harley
      </a>

      <a href="images/debbie.png">
        <div class="image gopher" style="background-image: url('images/debbie.png'); background-size: 250px;"></div>
        debbie@pivotal
      </a>

      <a href="images/vlad.png">
        <div class="image gopher" style="background-image: url('images/vlad.png'); background-size: 250px;"></div>
        vlad@pivotal
      </a>

      <a href="images/cholick.png">
        <div class="image gopher" style="background-image: url('images/cholick.png'); background-size: 250px;"></div>
        @cholick
      </a>

      <a href="images/daenerys.png">
        <div class="image gopher" style="background-image: url('images/daenerys.png'); background-size: 300px;"></div>
        daenerys
      </a>

      <a href="images/eevee.png">
        <div class="image gopher" style="background-image: url('images/eevee.png'); background-size: 250px;"></div>
        eevee
      </a>
      <a href="images/flareon.png">
        <div class="image gopher" style="background-image: url('images/flareon.png'); background-size: 250px;"></div>
        flareon
      </a>
      <a href="images/jolteon.png">
        <div class="image gopher" style="background-image: url('images/jolteon.png'); background-size: 250px;"></div>
        jolteon
      </a>
      <a href="images/vaporeon.png">
        <div class="image gopher" style="background-image: url('images/vaporeon.png'); background-size: 250px;"></div>
        vaporeon
      </a>
      <a href="images/espeon.png">
        <div class="image gopher" style="background-image: url('images/espeon.png'); background-size: 250px;"></div>
        espeon
      </a>
      <a href="images/umbreon.png">
        <div class="image gopher" style="background-image: url('images/umbreon.png'); background-size: 250px;"></div>
        umbreon
      </a>
      <a href="images/leafeon.png">
        <div class="image gopher" style="background-image: url('images/leafeon.png'); background-size: 250px;"></div>
        leafeon
      </a>
      <a href="images/glaceon.png">
        <div class="image gopher" style="background-image: url('images/glaceon.png'); background-size: 250px;"></div>
        glaceon
      </a>
      <a href="images/sylveon.png">
        <div class="image gopher" style="background-image: url('images/sylveon.png'); background-size: 250px;"></div>
        sylveon
      </a>
    </div>
  </div>

  <div class="row gallery">
    <h3>misc</h3>
    <div class="image-container">
      <a href="images/bebop-crew.png">
        <div class="image" style="background-image: url('images/bebop-crew.png'); background-size: 500px;"></div>
        the bebop crew, as cats
      </a>

      <a href="images/drake-cat-yes.png">
        <div class="image" style="background-image: url('images/drake-cat-yes.png'); background-size: 250px;"></div>
        drake meme pt 1
      </a>
      <a href="images/drake-cat-no.png">
        <div class="image" style="background-image: url('images/drake-cat-no.png'); background-size: 225px;"></div>
        drake meme pt 2
      </a>

      <a href="images/pokemon-retro.jpg">
        <div class="image" style="background-image: url('images/pokemon-retro.jpg'); background-size: 400px;"></div>
        poke-retro
      </a>

      <a href="images/larajean.png">
        <div class="image" style="background-image: url('images/larajean.png'); background-size: 400px;"></div>
        to all the burritos i've loved before
      </a>
    </div>
  </div>
</main>
