<main class="wrapper">
  <div class="row intro">
    <article class="fl-left cat-container">
      <img class="cat-icon" src="images/cat.png" />
    </article>
    <article class="fl-left">
      <h2 class="greeting">
        Hi there!
      </h2>
      <p>
        I'm Denise. I am a digital creator based in London. While my
        main medium is code, I also doodle, write, and speak. If you want to
        chat with me, you can <a href="mailto:me@deniseyu.io">email me</a> or
        <a href="https://twitter.com/deniseyu21">tweet cat pictures at me</a>.
      </p>
      <br />
      <p>
        I am currently writing and illustrating <a href="https://leanpub.com/achildrensatozofcontinuousdelivery">A Children's A to Z of Continuous Delivery</a>
        with <a href="https://twitter.com/SteveSmithCD">Steve Smith</a>!
      </p>
    </article>
  </div>
  <div class="row links">
    <ul class="box">
      <li>
        <a href="https://twitter.com/deniseyu21">
          <img src="images/bird.png" />
          <p>twitter</p>
        </a>
      </li>
      <li>
        <a href="https://deniseyu.github.io">
          <img src="images/diary.png" />
          <p>blog</p>
        </a>
      </li>
      <li>
        <a href="https://slides.com/deniseyu">
          <img src="images/speak.png" />
          <p>talks</p>
        </a>
      </li>
      <li>
        <a href="/art">
          <img src="images/cloud.png" />
          <p>art</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="row talks">
    <h2>talks/workshops i have given</h2>
    <br>
    <ul>
      <li>
        <a href="#">why are distributed systems so hard? a network partition survival guide</a>
        <p>primer on distsys fallacies and foibles, DevOpsDaysLDN 2018. slides & video coming soon!</p>
      </li>
      <li>
        <a href="#">intro to BOSH-deployed services</a>
        <p>the on-demand service broker SDK pattern for cloud foundry services, Cloud Foundry Summit Europe 2018. slides & video coming later</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1detd-49sAcYursxaIfo13EFJh9xY8QjTrQbTsAZCmj8/edit?usp=sharing">competitive debate, gendered speech patterns & the tech industry</a>
        <p>reflections about gender-biased evaluation of communication styles. closing keynote on Speak day of Write/Speak/Code Conference 2018</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/pipelineconf">what if you treat your pipeline like a product?</a>
        <p>product thinking as applied to continuous integration infrastructure. co-delivered with Mark Hender at PipelineConf 2018</p>
        <p>[<a href="https://www.youtube.com/watch?v=5Bsd-iMMQjQ">video</a>]</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/swanseacon">building empowered teams at scale</a>
        <p>empirical study of a growing engineering organisation, told in the style of a lean startup manual, SwanseaCon 2017</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/concourse">why would anyone build a concourse resource?</a>
        <p>intro to concourse CI resource concept and design, London Concourse User Group, 2017</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/11gouXQeiHu9mzZYXqAl_1vpHiCLJ97t36cPAb1iaTuI/edit?usp=sharing">how to tech talk</a>
        <p>a workshop for generating technical talk ideas and surfacing shared interests</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/cobol">intro to COBOL</a>
        <p>COBOL overview and "hello world" tutorial, for SoCraTes UK 2018</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/shanghaijs">intro to fp for Shanghai.js</a>
        <p>functional programming overview, slides in Chinese. delivered at ShanghaiJS in august 2016</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/frp">functional reactive programming</a>
        <p>functional reactive programming lightning talk, various London meetups</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/docker">just containerise it!</a>
        <p>intro to container technology, focused on Docker</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/design-deep-dive">domain design deep-dive</a>
        <p>hands-on domain modeling workshop, /dev/summer 2016</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/integration-testing">integration testing</a>
        <p>for makers alumni talks night, mid-2015</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/dysfunctional-programming">dysfunctional programming</a>
        <p>functional programming intro for makers alumni talks night, mid-2015, co-delivered with @gypsydave5</p>
      </li>
    </ul>
  </div>
</main>
