<link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

<main class="wrapper">
  <div class="row intro">
    <article class="fl-left">
      <img class="cat-icon" src="images/cat.png" />
    </article>
    <article class="fl-left">
      <h2 class="greeting">
        Hi there! 
      </h2>
      <p>
        I'm Denise. I am a digital creator based in London. While my
        main medium is code, I also doodle, write, and speak. If you want to 
        chat with me, you can <a href="mailto:yu.denise.d@gmail.com">email me</a> or
        <a href="https://twitter.com/deniseyu21">tweet at me</a>. I'm currently 
        having a great time building the cloud at <a href="https://pivotal.io">Pivotal</a>, so 
        no recruiters, please!
      </p>
    </article>
  </div>
  <hr>
  <div class="row links">
    <article class="fl-left">
      <h2>
        <span class="emoji">👣</span> footprint
      </h2>
    </article>
    <article class="fl-left">
      <ul class="box">
        <li>
          <a href="https://github.com/deniseyu">github</a>
        </li>
        <li>
          <a href="https://twitter.com/deniseyu21">twitter</a>
        </li>
        <li>
          <a href="https://uk.linkedin.com/in/deniseyu">linkedin</a>
        </li>
        <li>
          <a href="https://deniseyu.github.io">blog</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu">slidedecks</a>
        </li>
        <li>
          <a href="https://www.instagram.com/deniseyu21/">instagram</a>
        </li>
      </ul>
    </article>
  </div>
  <hr>
  <div class="row comm">
    <article class="fl-left">
      <h2><span class="emoji">👯</span> community</h2>
    </article>
    <article class="fl-left">
      <ul>
        <li><a href="http://codebar.io">codebar</a></li>
        <li><a href="https://medium.com/the-codelog/announcing-codebar-monthlies-4ad3a0d3ca8e#.rrjtlx547">Monthlies</a></li>
        <li><a href="https://github.com/deniseyu/mind-the-code">mind the code</a></li>
        <li><a href="http://clojurebridgelondon.github.io/">clojurebridge</a></li>
        <li><a href="http://plibmttbhgaty.com/">plibmttbhgaty</a></li>
        <li><a href="http://www.meetup.com/london-software-craftsmanship">lscc</a></li>
        <li><a href="http://www.meetup.com/Makers-Academy-Alumni">MA alumni</a></li>
      </ul>
    </article>
  </div>
  <hr>
  <div class="row talks">
    <article class="fl-left">
      <h2><span class="emoji">📢</span> talks</h2>
    </article>
    <article class="fl-left">
      <ul>
        <li>
          <a href="https://slides.com/deniseyu/shanghaijs">intro to fp for Shanghai.js</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/frp">functional reactive programming</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/docker">just containerise it!</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/design-deep-dive">domain design deep-dive</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/integration-testing">integration testing</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/dysfunctional-programming">
            dysfunctional programming
          </a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/taylor-swift">how not to code, ft. Taylor Swift</a>
        </li>
      </ul>
    </article>
  </div>
  <hr>
  <div class="row other">
    <article class="fl-left">
      <h2><span class="emoji">🍳</span> misc</h2>
    </article>
    <article class="fl-left">
      <ul>
        <li><a href="https://github.com/deniseyu/pubname-generator">pub name generator</a></li>
        <li><a href="https://github.com/deniseyu/fud">recipes</a></li>
        <li><a href="https://github.com/deniseyu/set">set solver</a></li>
        <li><a href="http://deniseyu.github.io/The-Great-Birdhouses-Of-Westeros/">game of thrones birdhouses</a></li>
        <li>
          <a href="https://drive.google.com/file/d/0B8tjl1Zz08cKQ0VuVDRYYlZVXzg/view">cv</a>
        </li>
      </ul>
    </article>
  </div>
</main>
