<main class="wrapper">
  <div class="row intro">
    <article class="fl-left cat-container">
      <img class="cat-icon" src="images/cat.png" />
    </article>
    <article class="fl-left">
      <h2 class="greeting">
        Hi there!
      </h2>
      <p>
        I'm Denise. I am a digital creator based in London. While my
        main medium is code, I also doodle, write, and speak. If you want to
        chat with me, you can <a href="mailto:me@deniseyu.io">email me</a> or
        <a href="https://twitter.com/deniseyu21">tweet cat pictures at me</a>.
      </p>
      <br />
      <p>
        I am currently writing and illustrating <a href="https://leanpub.com/achildrensatozofcontinuousdelivery">A Children's A to Z of Continuous Delivery</a>
        with <a href="https://twitter.com/SteveSmithCD">Steve Smith</a>!
      </p>
    </article>
  </div>
  <div class="row links">
    <ul class="box">
      <li>
        <a href="https://twitter.com/deniseyu21">
          <img src="images/bird.png" />
          <p>twitter</p>
        </a>
      </li>
      <li>
        <a href="https://deniseyu.github.io">
          <img src="images/diary.png" />
          <p>blog</p>
        </a>
      </li>
      <li>
        <a href="/talks">
          <img src="images/speak.png" />
          <p>talks</p>
        </a>
      </li>
      <li>
        <a href="/art">
          <img src="images/cloud.png" />
          <p>art</p>
        </a>
      </li>
    </ul>
  </div>
</main>
