<main class="wrapper">
  <div class="row intro">
    <article class="fl-left cat-container">
      <img class="cat-icon" src="images/cat.png" />
    </article>
    <article class="fl-left">
      <h2 class="greeting">
        Hi there! 
      </h2>
      <p>
        I'm Denise. I am a digital creator based in London. While my
        main medium is code, I also doodle, write, and speak. If you want to 
        chat with me, you can <a href="mailto:me@deniseyu.io">email me</a> or
        <a href="https://twitter.com/deniseyu21">tweet at me</a>. I'm currently 
        having a great time building the cloud at <a href="https://pivotal.io">Pivotal</a>, so 
        no recruiters, please!
      </p>
    </article>
  </div>
  <hr>
  <div class="row links">
    <ul class="box">
      <li>
        <a href="https://github.com/deniseyu">
          <img src="images/cat-github.png" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/deniseyu21">
          <img src="images/bird.png" />
        </a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/in/deniseyu">
          <img src="images/business-cat.png" />
        </a>
      </li>
      <li>
        <a href="https://deniseyu.github.io">
          <img src="images/diary.png" />
        </a>
      </li>
      <br />
      <li>
        <a href="https://slides.com/deniseyu">
          <img src="images/speak.png" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/deniseyu21/">
          <img src="images/snap.png" />
        </a>
      </li>
      <li>
        <a href="/art">
          <img src="images/cloud.png" />
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="row talks">
    <article class="fl-left">
      <h2><span class="emoji">📢</span> talks</h2>
    </article>
    <article class="fl-left">
      <ul>
        <li>
          <a href="https://slides.com/deniseyu/shanghaijs">intro to fp for Shanghai.js</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/frp">functional reactive programming</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/docker">just containerise it!</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/design-deep-dive">domain design deep-dive</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/integration-testing">integration testing</a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/dysfunctional-programming">
            dysfunctional programming
          </a>
        </li>
        <li>
          <a href="https://slides.com/deniseyu/taylor-swift">how not to code, ft. Taylor Swift</a>
        </li>
      </ul>
    </article>
  </div>
  <hr>
  <div class="row other">
    <article class="fl-left">
      <h2><span class="emoji">🍳</span> misc</h2>
    </article>
    <article class="fl-left">
      <ul>
        <li><a href="https://github.com/deniseyu/pubname-generator">pub name generator</a></li>
        <li><a href="https://github.com/deniseyu/fud">recipes</a></li>
        <li><a href="https://github.com/deniseyu/set">set solver</a></li>
        <li><a href="http://deniseyu.github.io/The-Great-Birdhouses-Of-Westeros/">game of thrones birdhouses</a></li>
        <li>
          <a href="https://drive.google.com/file/d/0B8tjl1Zz08cKQ0VuVDRYYlZVXzg/view">cv</a>
        </li>
      </ul>
    </article>
  </div>
</main>
