<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>

  <%= css :application %>
  <%= js :application %>

</head>
<body>

  <%= yield %>

  <%= erb :footer %>

</body>

</html>
