<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">

  <%= css :application %>

</head>
<body>

  <%= yield %>

</body>

</html>
