<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Resources for "Introduction to BOSH-Deployed Services" from Cloud Foundry Summit Basel 2018
    </h2>
  </div>
  <div class="row">
    <h3><a href="#">slides coming soon</a></h3>
    <h3>video coming soon!</h3>
  </div>
  <div class="row">
    <h3>For feedback or questions on product roadmap, reach out to Ruth Maclean <a href="mailto:rmaclean@pivotal.io">via email</a>
    <h3>Further reading</h3>
    <ul>
      <li>On-Demand Service Broker Documentation. <a href="docs.pivotal.io/svc-sdk/odb">link</a></li>
      <li>Download the ODB SDK on Pivotal Network. <a href="https://network.pivotal.io/products/on-demand-services-sdk/">link</a></li>
      <li>Open Service Broker API Specification <a href="https://openservicebrokerapi.org">link</a></li>
    </ul>
  </div>
</main>
