<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Resources for "How To Tech Talk" from Cloud Foundry Summit Basel 2018 Unconference
    </h2>
  </div>
  <div class="row">
    <h3><a href="tech-talk-talk.pdf">slides</a></h3>
    <h3><a href="http://deniseyu.github.io/writing-tech-talks">blog post with more resources</a></h3>
  </div>
</main>
