<main class='frame--container' id='red'>
  <div class='frame--home'>
    <p class='frame--message'>
      Use j, k, h, l to navigate
    </p>
  </div>  

  <div class='frame frame--left'>
    <p class='frame--message'>
      Yay you went left
    </p>
  </div>

  <div class='frame frame--top'></div>

  <div class='frame frame--right'></div>

  <div class='frame frame--bottom'></div>

</main>
