#page-footer {
  font-family: 'Cutive Mono';
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: black;
  bottom: 0px;
  font-size: 0.8em;
  z-index: 1000;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FFC0A9;
}

h1 {
  font-size: 3em;
  color: #C9D787;
}

#back-arrow {
  position: fixed;
  left: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
}

