body {
  color: white;
  background-color: white;
  font-family: 'Cutive Mono';
  width: 100%;
}

body a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

a:hover {
  font-weight: 800;
  color: #FFC0A9;
}

.emoji {
  font-size: 25px;
}

.box {
  width: 100%;
  text-align: center;
}

.box li {
  display: inline-block;
  width: 23%;
  box-sizing: border-box;
}

.box li img {
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  min-width: 75px;
}

hr {
  color: #51E064;
  border-width: 1px;
  border-style: solid;
  margin: 0 10%;
}

.row:nth-child(even) {
  display: block;
  color: #51E064;
}

.row a {
  color: #51E064;
}

.row a:hover {
  color: #FFC0A9;
}

.row.intro {
  min-height: 3em;
  font-size: 1.5em;
}

.row.links {
  min-height: 12em;
}

.row.comm {
  min-height: 12em;
}

.row.talks {
  min-height: 12em;
}

.row.talks li {
  margin-bottom: 0.5em;
  font-size: 1.75em;
}

.row.talks li p {
  font-size: 0.8em;
  color: #FFC0A9;
}

.row {
  float: left;
  display: block;
  width: 100%;
  color: #51E064;
  box-sizing: border-box;
  padding: 2em 3em;
  min-height: 12em;
}

.row ul li {
  font-size: 1.4em;
  margin: 0.25em 0;
  min-width: 5em;
}

.fl-left {
  display: block;
  float: left;
  width: 100%;
}

.cat-container {
  margin: auto;
}

.cat-icon {
  width: 100%;
  max-width: 800px;
}

ul {
  list-style-position: inside;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75em;
}

.image-container a {
  display: inline-block;
  max-width: 12em;
  vertical-align: top;
  margin-bottom: 1em;
}

.image {
  height: 12em;
  width: 12em;
}

.gopher {
  background: 50% 50% no-repeat;
}

.sketchnote {
  background: 10% no-repeat;
  background-size: 250px;
}

@media only screen and (max-device-width : 800px) {
  .wrapper {
    width: 90%;
  }

  .cat-icon {
    width: 100%;
    max-width: 300px;
  }

  .row {
    min-height: 12em;
  }

  .row.intro {
    padding: 1.5em;
  }

  .row.intro p {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 801px) {
  .wrapper {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
  }

  .cat-icon {
    width: 100%;
    max-width: 400px;
  }

  .fl-left {
    width: 50%;
    font-size: 2vw;
  }

  .row {
    min-height: 10em;
  }
}
