<link href="css/about.css" type="text/css" rel="stylesheet" />

<a href='/'><img src='/images/back_arrow.png' id='back-arrow'></a>

<main id='about-me-main'>

 <p>I am a junior web developer/designer currently living in London, originally from New Jersey. They are turning me into a full-stack developer at <a href='http://www.makersacademy.com'>Makers Academy</a>. I am passionate about design, music, and coffee. If there is a piano in a room, I will play it. I can usually be found in an East London cafe or wandering along a canal.
 </p>


 <article id='photo-container'>
  <img src='/images/prof-pic-museum.png' id='profile-photo'>
</article>

</main>