<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href="css/reset.css" type="text/css" rel="stylesheet" />
  <link href="css/cv.css" type="text/css" rel="stylesheet" />
</head>
<body>

<a href='/'><img src='/images/back_arrow.png' id='back-arrow'></a>

<section class='cv-body'>
  <header>
    <h1><strong>Denise Yu</strong></h1>
    <h3>email: yu.denise.d@gmail.com</h3>
    <h3>London, United Kingdom</h3>
  </header>

<article id='education-section'>
  <h2>Education</h2>
  <h3>Makers Academy</h3>
  <p>Projected completion in December 2014</p>
  <ul>
    <li>Intensive 12-week full-stack web development course</li>
    <li>Focus on <strong>Test-Driven Development (TDD)</strong> and <strong>Behavior-Driven Development (BDD)</strong> with agile methodology</li>
    <li>Selected test suites: RSpec, Cucumber, Capybara, Jasmine</li>
    <li>Selected technologies: Ruby, Rails, Sinatra, Javascript, jQuery, Node.js, AngularJS, ExpressJS, SQL, HTML5, CSS3</li>
  </ul>
  <h3>The London School of Economics and Political Science, MSc Social Policy and Planning</h3>
  <p>Completed in September 2014</p>
  <ul>
  <li>Selected coursework: Behavior, Happiness and Public Policy; Economics of European Social Policy </li>
  </ul>
  <h3>Columbia University in the City of New York, BA in Economics-Philosophy</h3>
  <p>Completed in May 2012</p>
  <ul>
    <li>Selected coursework: Probability and Decision Theory; Methods and Problems in Philosophy; Economics of Information; Intermediate Statistics; Symbolic Logic; Ancient Greek</li>
  </ul>
</article>

<article id='work-section'>
<h2>Professional Experience</h2>
<h3>Debate Teacher, DebateMate UK, London, 09/2013 – 08/2014 </h3>
<ul>
  <li>Coach weekly afterschool debate club at Clapton Girls’ Academy and advanced program on weekends</li>
  <li>Assist with special events, marketing and promotion of Debate Mate mission</li>
</ul>
<h3>Legal Assistant & Office Manager, Hurwitz Stampur & Roth, New York, NY,  08/2012 – 04/2013</h3>
<ul>
  <li>Managed client relationships, streamlined workflows, obtained and organized discovery and court documents</li>
  <li>Electronically filed case documents on SDNY, EDNY, and Second Circuit ECF</li>
  <li>Oversaw billing under Criminal Justice Act (CJA), bookkeeping, general office management</li>
</ul>
<h3>Teaching Assistant, Johns Hopkins Center for Talented Youth, Stanford University, CA,  06/2012 – 08/2013</h3>
<ul>
  <li>Assisted with development of original lesson plans, created two geopolitics simulations during summers</li>
</ul>
<h3>Program Coordinator, Metropolitan Debate League, New York, NY, 09/2010 – 05/2013</h3>
<ul>
  <li>Coordinated monthly non-profit debate tournaments for 50-150 students, parents, and teachers</li>
  <li>Trained new judges to ensure consistency of judging quality, designed educational materials</li>
  <li>Maintained website for scheduling tournaments and publishing results</li>
</ul>
<h3>Environmental Registry Intern, Markit Group, New York, NY, 06/2011 – 08/2011</h3>
<ul>
  <li>Conducted internal audit of ~500 projects</li>
  <li>Developed due diligence process to protect registry against fraudulent sellers</li>
  <li>Compiled report on NYC corporate real estate shareholders to help launch new energy efficiency product</li>
</ul>

<h3>Let’s Get Ready! Site Director, Dorchester, Massachusetts,  04/2010 – 08/2010</h3>
<ul>
  <li>Recruited 75 students and 15 volunteer coaches for 8-week long, free, nonprofit SAT tutoring program</li>
  <li>Fundraised over $1500 including full catered banquet from local businesses</li>
  <li>Volunteered as Head Math Coach at Frederick Douglass Academy, New York, NY 09/2009 – 05/2011</li>
</ul>

<h3>Field Manager, Grassroots Campaigns, New York, NY,   06/2009 – 08/2009</h3>
<ul>
  <li>Canvassed on streets of NYC, raising over $1,000 each week on behalf of the American Civil Liberties Union</li>
</ul>
</article>

<article id='extracurricular-section'>
<h2>Leadership and Activities</h2>
<h3>President, Columbia Parliamentary Debate Society,  09/2009 –05/2012</h2>
<ul>
  <li>Directed the Columbia Parliamentary Debate Tournament for 400 university participants over two days</li>
  <li>Supported coordination of three high school tournaments, raising from $10,000-$15,000 each year</li>
  <li>Led corporate outreach initiatives resulting in partnerships with Halogen TV, Markit, NAACP, Interschool Council</li>
  <li>Managed operations and events for nationwide #2 ranked college debate team comprised of 50 members</li>
</ul>

<h3>Columbia International Relations Council and Association, Undersecretary-General of Publications, Columbia Model United Nations in New York, 05/2010 – 09/2010</h3>
<ul>
  <li>Designed promotional materials and conference guide, coordinated rigorous review and publication of committee background guides, assisted with execution of conference for 350 university participants</li>
</ul>
</article>

</section>

</body>
</html>