<footer>

  <section id='page-footer'>
  Built on Sinatra framework with Ruby, HTML5, CSS3. Some icons from <a href='http://www.flaticon.com'>flaticon</a>. Sourcecode on <a href='https://github.com/deniseyu/personal-website'>github</a>.
  </section>

</footer>