<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href="css/reset.css" type="text/css" rel="stylesheet" />
  <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
</head>
<body>
  Hello world

<div class='nine-by-nine-grid'>
  <section class='line-one'>
    <article class='top-left'><img src='/images/email-icon.png' id='email-icon' /></article>
    <article class='top-middle'><img src='/images/github-icon.png' id='github-icon' /> </article>
    <article class='top-right'><img src='/images/linkedin-icon.png' id='linkedin-icon' /></article>
  </section>
  <section class='line-two'>
    <article class='center-left'><img src='/images/twitter-icon.png' id='twitter-icon' /></article>
    <article class='smack-dab-center'><h1 id='my-name'>Denise Yu</p></article>
    <article class='center-right'><img src='/images/wordpress-icon.png' id='wordpress-icon' /></article>
  </section>
  <section class='line-three'>
    <article class='bottom-left'><h1 id='cv'>cv</h1></article>
    <article class='bottom-middle'><img src='/images/camera-icon.png' id='camera-icon' /></article>
    <article class='bottom-right'><img src='/images/papercrane-icon.png' id='papercrane-icon' /></article>
  </section>
</div>

</body>

</html>