<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href="css/reset.css" type="text/css" rel="stylesheet" />
  <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
<section class='nine-by-nine-grid'>

      <section class="top-left-container">
        <section class="top-left-flipper">
          <a href='#'>
          <article class="face">
            <img src='/images/email-icon.png' id='email-icon' />
          </article>
          <article class="back face">
            <p id='email-text'>email me</p>
          </article>
          </a>
        </section>
      </section>
   
      <section class="top-center-container">
        <section class="top-center-flipper">
          <a href='#'>
          <article class="face">
            <img src='/images/github-icon.png' id='github-icon' />
          </article>
          <article class="back face">
            <p id='github-text'>github</p>
          </article>
          </a>
        </section>
      </section>
    
      <section class="top-right-container">
        <section class="top-right-flipper">
          <a href='#'>
          <article class="face">
            <img src='/images/linkedin-icon.png' id='linkedin-icon' />
          </article>
          <article class="back face">
            <p id='linkedin-text'>linkedin</p>
          </article>
          </a>
        </section>
      </section>
    

    <br>

      <section class="center-left-container">
        <section class="center-left-flipper">
          <a href='#'>
          <article class="face">
            <img src='/images/twitter-icon.png' id='twitter-icon' />
          </article>
          <article class="back face">
            <p id='twitter-text'>twitter</p>
          </article>
        </a>
        </section>
      </section>
    
    <section class="smack-dab-center">
      <section class="center-no-flip">
        <article class="face">
          <h1 id='my-name'>denise yu</h1>
        </article>
      </section>
    </section>

    <section class="center-right-container">
      <section class="center-right-flipper">
        <a href='#'>
        <article class="face">
          <img src='/images/wordpress-icon.png' id='wordpress-icon' />
        </article>
        <article class="back face">
          <p id='wordpress-text'>blog</p>
        </article>
      </a>
      </section>
    </section>

    <br>

    <section class="bottom-left-container">
      <section class="bottom-left-flipper">
        <a href='#'>
        <article class="face">
          <img src='/images/cv-icon.png' id='cv-icon' />
        </article>
        <article class="back face">
          <p id='cv-text'>curriculum vitae</p>
        </article>
      </a>
      </section>
    </section>

    <section class="bottom-center-container">
      <section class="bottom-center-flipper">
        <a href='#'>
        <article class="face">
          <img src='/images/camera-icon.png' id='camera-icon' />
        </article>
        <article class="back face">
          <p id='camera-text'>photography</p>
        </article>
      </a>
      </section>
    </section>

    <section class="bottom-right-container">
      <section class="bottom-right-flipper">
        <a href='#'>
        <article class="face">
          <img src='/images/papercrane-icon.png' id='papercrane-icon' />
        </article>
        <article class="back face">
          <p id='papercrane-text'>misc projects</p>
        </article>
      </a>
      </section>
    </section>

</section>
    <!-- 
    <a href='http://twitter.com/deniseyu21'><article class='center-left'><img src='/images/twitter-icon.png' id='twitter-icon' /></article></a>
    <a href='http://deniseyu.wordpress.com'><article class='center-right'><img src='/images/wordpress-icon.png' id='wordpress-icon' /></article></a>
  </section>
  <section class='line-three'>
    <a href='#'><article class='bottom-left'><h1 id='cv'>cv</h1></article></a>
    <a href='#'><article class='bottom-middle'><img src='/images/camera-icon.png' id='camera-icon' /></article></a>
    <a href='#'><article class='bottom-right'><img src='/images/papercrane-icon.png' id='papercrane-icon' /></article></a>
  </section>
</section> -->

<footer id='page-footer'>
  Built on Sinatra framework with Ruby, HTML5, CSS3. Some icons from <a href='http://www.flaticon.com'>flaticon</a>.
</footer>
</body>

</html>