<link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

<section class='nine-by-nine-grid'>

  <section class="top-left-container">
    <section class="top-left-flipper">
      <a href='mailto:yu.denise.d@gmail.com'>
      <article class="face">
        <img src='/images/email-icon.png' id='email-icon' />
      </article>
      <article class="back face">
        <p id='email-text'>email me</p>
      </article>
      </a>
    </section>
  </section>

  <section class="top-center-container">
    <section class="top-center-flipper">
      <a href='http://github.com/deniseyu'>
      <article class="face">
        <img src='/images/github-icon.png' id='github-icon' />
      </article>
      <article class="back face">
        <p id='github-text'>github</p>
      </article>
      </a>
    </section>
  </section>

  <section class="top-right-container">
    <section class="top-right-flipper">
      <a href='http://uk.linkedin.com/in/deniseyu'>
      <article class="face">
        <img src='/images/linkedin-icon.png' id='linkedin-icon' />
      </article>
      <article class="back face">
        <p id='linkedin-text'>linkedin</p>
      </article>
      </a>
    </section>
  </section>

  <br>

  <section class="center-left-container">
    <section class="center-left-flipper">
      <a href='http://twitter.com/deniseyu21'>
      <article class="face">
        <img src='/images/twitter-icon.png' id='twitter-icon' />
      </article>
      <article class="back face">
        <p id='twitter-text'>twitter</p>
      </article>
    </a>
    </section>
  </section>

  <section class="center-container">
    <section class="center-flipper">
      <a href='/about'>
      <article class="face" id='face-center'>
        <h1 id='my-name'>denise yu</h1>
      </article>
      <article class="back face" id='back-face-center'>
        <p id='about-me'>about</p>
      </article>
    </a>
    </section>
  </section>

  <section class="center-right-container">
    <section class="center-right-flipper">
      <a href='http://deniseyu.wordpress.com'>
      <article class="face">
        <img src='/images/wordpress-icon.png' id='wordpress-icon' />
      </article>
      <article class="back face">
        <p id='wordpress-text'>blog</p>
      </article>
    </a>
    </section>
  </section>

  <br>

  <section class="bottom-left-container">
    <section class="bottom-left-flipper">
      <a href='/cv'>
      <article class="face">
        <img src='/images/cv-icon.png' id='cv-icon' />
      </article>
      <article class="back face">
        <p id='cv-text'>curriculum vitae</p>
      </article>
    </a>
    </section>
  </section>

  <section class="bottom-center-container">
    <section class="bottom-center-flipper">
      <a href='/error'>
      <article class="face">
        <img src='/images/camera-icon.png' id='camera-icon' />
      </article>
      <article class="back face">
        <p id='camera-text'>photography</p>
      </article>
    </a>
    </section>
  </section>

  <section class="bottom-right-container">
    <section class="bottom-right-flipper">
      <a href='/projects'>
      <article class="face">
        <img src='/images/papercrane-icon.png' id='papercrane-icon' />
      </article>
      <article class="back face">
        <p id='papercrane-text'>projects</p>
      </article>
    </a>
    </section>
  </section>

</section>