<!DOCTYPE HTML>
<html>
<head>
  <title>Denise Yu</title>
  <link href="css/reset.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href="css/app.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <%= yield %>

<footer id='page-footer'>
  Built on Sinatra framework with Ruby, HTML5, CSS3. Some icons from <a href='http://www.flaticon.com'>flaticon</a>.
</footer>
</body>

</html>