<link href="css/about.css" type="text/css" rel="stylesheet" />

<a href='/'><img src='/images/back_arrow.png' id='back-arrow'></a>
<section id='about-me-main'>
<h1>a short portfolio of projects</h1>
<li><a href='http://scrabblegram.herokuapp.com'>scrabblegram</a>: scrabble optimizer / cheating tool</li>
<li><a href='http://hyphen.herokuapp.com'>hyphen-mover</a>: a cheeky little Cuba project inspired by xckd</li>
<li><a href='http://pairing-randomizer.herokuapp.com'>pairing helper</a>: generates random pairs for pair-programming</li>
<li><a href='http://pandapop.herokuapp.com'>pandapop</a>: social karaoke on Rails</li>
<li><a href='http://totoro-chitter.herokuapp.com'>totoro chat</a>: twitter clone in Sinatra</li>
<li><a href='http://thermocat.herokuapp.com'>thermocat</a>: a cat that controls the temperature</li>
<li><a href='http://instacat.herokuapp.com'>instacat</a>: instagram clone in Rails</li>
<p>extended portfolio >> <a href='https://github.com/deniseyu'>github</a></p>
</section>
