<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Slides for "Let’s build sustainable and empathetic cross-functional teams" from Agile on the Beach 2019
    </h2>
  </div>
  <div class="row">
    <a href="/aotb-slides">
      <img style="width: 250px;" src='/images/chikorita.png' />
      <h3 style="display: inline; font-size: 4em;">click for slides!</h3>
    </a>
  </div>
  <div class="row">
    <h3>bibliography & references</h3>
    <ul>
      <li>Janice Fraser, "Balanced Teams". <a href="https://www.youtube.com/watch?v=Z_Q4Q8rCVpU">video</a></li>
      <li>Janice Fraser, "Tales From a Balanced Team". <a href="https://www.slideshare.net/Pivotal/tales-from-a-balanced-team">slides</a></li>
      <li>Amy Edmondson, "The Fearless Organization: Creating Psychological Safety in the Workplace for Learning, Innovation, and Growth". Book.</li>
      <li>Laura Delizonna, "High-Performing Teams Need Psychological Safety. Here’s How to Create It". Harvard Business Review. <a href="https://hbr.org/2017/08/high-performing-teams-need-psychological-safety-heres-how-to-create-it">article</a></li>
      <li>Harvard Business Review interview with Amy Edmondson, "Creating Psychological Safety in the Workplace". <a href="https://hbr.org/ideacast/2019/01/creating-psychological-safety-in-the-workplace">article</a></li>
      <li>Poornima Vijayashanker, "How to Nurture a team of Top Performers". <a href="https://www.pivotaltracker.com/blog/how-to-nurture-team-top-performers">article</a></li>
      <li>Caleb Thompson, "Don't Get Distracted". <a href="https://www.calebthompson.io/talks/dont-get-distracted/">blog</a></li>
      <li>Jean Dearth, "3 Ways to get Design, Dev, and Product Management to Work Together Effectively". <a href="https://medium.com/product-labs/3-ways-to-get-design-dev-and-product-management-to-work-together-effectively-ce10b769c3b5">blog</a></li>
    </ul>
  </div>
</main>
