<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Slides & Resources for "Feedback Week" from DevOps Days Toronto
    </h2>
  </div>
  <div class="row">
    <a href="https://www.dropbox.com/s/c0ocxfbbks50hji/Feedback%20Week%20DevOpsDaysTO.pdf?dl=0">
      <img style="width: 250px;" src='/images/big-red-ball.png' />
      <h3 style="display: inline; font-size: 4em;">click for slides!</h3>
    </a>
  </div>
  <div class="row">
    <h3>stuff i wrote</h3>
    <ul>
      <li>original "Feedback Week" <a href="https://deniseyu.github.io/better-team-feedback/">blog post</a></li>
      <li>follow-up <a href="https://deniseyu.github.io/self-regulating-processes/">blog post</a></li>
    </ul>
  </div>
</main>
