<main class="wrapper">
  <div class="row intro">
    <article class="fl-left cat-container">
      <img class="cat-icon" src="images/cat-yaml.png" />
    </article>
    <article class="fl-left">
      <h2 class="greeting">
        Hi there!
      </h2>
      <p>
        I am a software engineer who believes that distributed systems, cultures of learning,
        and cat drawings can and should mix.
      </p>
      <p>
        My main medium is code, but I also doodle, write, and speak. If you want to
        chat with me, you can <a href="mailto:yu.denise.d@gmail.com">email me</a> or
        <a href="https://twitter.com/deniseyu21">tweet your cat pictures at me</a>.
      </p>
      <p>
        I am currently writing and illustrating <a href="https://leanpub.com/achildrensatozofcontinuousdelivery">A Children's A to Z of Continuous Delivery</a>
        with <a href="https://twitter.com/SteveSmithCD">Steve Smith</a>!
        and I have a <a href="https://www.redbubble.com/people/deniseyu/shop/top+selling+stickers?accordion=department&ref=artist_shop_department_refinement">Redbubble Store</a> now!
      </p>
    </article>
  </div>
</main>
