<!DOCTYPE HTML>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139930225-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139930225-1');
</script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','analytics.js','ga');

ga('create', 'UA-139930225-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
  <title>Denise Yu</title>
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
  <link href="styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="styles/stylesheet.css" type="text/css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">

  <%= css :application %>

</head>
<body>
  <nav class="top-bar">
    <li><a href="/art">art</a></li>
    <li><a href="/talks">talks</a></li>
    <li><a href="https://deniseyu.github.io">blog</a></li>
    <li><a href="https://twitter.com/deniseyu21">twitter</a></li>
  </nav>

  <%= yield %>

</body>

</html>
