<main class="wrapper">
  <div class="row">
    <h2 class="greeting">
      Slides for "Telling Stories with Doodles" from Let's Sketch Tech
    </h2>
    <h3>
      San Francisco, December 8-9, 2018
    </h3>
    <h3><a href="lets-sketch-tech-deck.pdf">slides</a></h3>
    <h3>resources</h3>
    <p>coming soon!</p>
  </div>
</main>
