<main class="wrapper">
  <div class="row talks">
    <h2>talks/workshops i have given</h2>
    <br>
    <ul>
      <li>
        <a href="/feedback-week">feedback week</a>
        <p>ignite talk on a self-regulating process for gathering peer feedback. delivered at DevOpsDays Toronto 2019</p>
      </li>
      <li>
        <a href="/sponsorship">mentorship vs. sponsorship</a>
        <p>overview on differences between mentorship and sponsorship, and effective usages of each tool. delivered at Diversity Luncheon at Cloud Foundry Summit North America 2019.</p>
      </li>
      <li>
        <a href="/onboarding">it's dangerous to go alone! lessons learnt from onboarding new Cloud Foundry contributors</a>
        <p>reflections on designing and iterating towards an empathetic, collaborative engineering onboarding program. co-delivered with Andrew Su at Cloud Foundry Summit North America 2019.</p>
      </li>
      <li>
        <a href="/srecon">why are distributed systems to hard? SREcon edition</a>
        <p>primer on distsys foibles and fallacies, with emphasis on human factors and just SRE things for SREcon Americas 2019 closing keynote</p>
      </li>
      <li>
        <a href="/letssketchtech">telling stories with doodles</a>
        <p>hands-on workshop for leveling up at sketching and doodling, with a view towards technical stories</p>
      </li>
      <li>
        <a href="/distsystalk">why are distributed systems so hard? a network partition survival guide</a>
        <p>primer on distsys fallacies and foibles, DevOpsDaysLDN 2018.</p>
      </li>
      <li>
        <a href="sketchnoting-talk.pdf">sketchnoting introduction</a>
        <p>unconference session at DevOpsDaysLDN 2018 on getting started with sketchnoting</p>
      </li>
      <li>
        <a href="/odb">intro to BOSH-deployed services</a>
        <p>the on-demand service broker SDK pattern for cloud foundry services, co-delivered with Zoe Vance at Cloud Foundry Summit Europe 2018. slides & video coming later</p>
      </li>
      <li>
        <a href="/techtalks">how to tech talk: a meta-discussion</a>
        <p>lightning talk on tips for getting started with technical speaking, from Cloud Foundry Summit Europe 2018 Unconference.</p>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=T7eedm8X_Ow">data-driven decision making</a>
        <p>how to apply product management skills to other aspects of working on agile teams, co-delivered with Zoe Vance at SpringOne Platform 2018.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1detd-49sAcYursxaIfo13EFJh9xY8QjTrQbTsAZCmj8/edit?usp=sharing">competitive debate, gendered speech patterns & the tech industry</a>
        <p>reflections about gender-biased evaluation of communication styles. closing keynote on Speak day of Write/Speak/Code Conference 2018</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/pipelineconf">what if you treat your pipeline like a product?</a>
        <p>product thinking as applied to continuous integration infrastructure. co-delivered with Mark Hender at PipelineConf 2018</p>
        <p>[<a href="https://www.youtube.com/watch?v=5Bsd-iMMQjQ">video</a>]</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/swanseacon">building empowered teams at scale</a>
        <p>empirical study of a growing engineering organisation, told in the style of a lean startup manual, SwanseaCon 2017</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/concourse">why would anyone build a concourse resource?</a>
        <p>intro to concourse CI resource concept and design, London Concourse User Group, 2017</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/11gouXQeiHu9mzZYXqAl_1vpHiCLJ97t36cPAb1iaTuI/edit?usp=sharing">how to tech talk</a>
        <p>a workshop for generating technical talk ideas and surfacing shared interests</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/cobol">intro to COBOL</a>
        <p>COBOL overview and "hello world" tutorial, for SoCraTes UK 2018</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/shanghaijs">intro to fp for Shanghai.js</a>
        <p>functional programming overview, slides in Chinese. delivered at ShanghaiJS in august 2016</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/frp">functional reactive programming</a>
        <p>functional reactive programming lightning talk, various London meetups</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/docker">just containerise it!</a>
        <p>intro to container technology, focused on Docker</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/design-deep-dive">domain design deep-dive</a>
        <p>hands-on domain modeling workshop, /dev/summer 2016</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/integration-testing">integration testing</a>
        <p>for makers alumni talks night, mid-2015</p>
      </li>
      <li>
        <a href="https://slides.com/deniseyu/dysfunctional-programming">dysfunctional programming</a>
        <p>functional programming intro for makers alumni talks night, mid-2015, co-delivered with @gypsydave5</p>
      </li>
    </ul>
  </div>
</main>
